@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    overscroll-behavior-y: none;
  }
  body {
    padding-env-bottom: env(safe-area-inset-bottom);
    user-select: none;
    overflow-x: hidden;
  }
  input, textarea, select, button {
    user-select: text;
  }
}

